__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.DS_Store

env_cache/

data/processed/
data/consolidated/
data/unique_rnas.csv
data/unique_molecules.csv

models/

results/

databases/*
!databases/*.sh

benchmark/ckpts/
benchmark/logs*/
benchmark/nohup.out
benchmark/data/*.pkl
benchmark/data/*.npy
benchmark/data/features/